<div class="login-logo">
  <a href="/"><b>Base</b>App</a>
</div>

<div class="login-box-body">
  <p class="login-box-msg">Forgot your password?</p>
  <p class="login-box-msg">Enter your email and we'll send you a reset link.</p>

  {{form-input-text
    value=resetRequest.email
    isValid=resetRequest.isEmailValid
    placeholder='Email'
    feedbackIcon='envelope'
    showErrors=showErrors
  }}

  {{form-errors-alert errors=errorsList showErrors=showErrors}}

  {{#if emailHasBeenSent}}
    <div class="alert alert-success">
      Success.
      Your email has been sent.
    </div>
  {{/if}}

  <div class="row">
    <div class="col-xs-4 col-xs-offset-8">
      {{button-action
        label="Reset"
        onClickAction=(action 'requestReset')
      }}
    </div>
  </div>

  <div>
    {{#link-to 'login'}}
      Already have an account? Login here.
    {{/link-to}}
  </div>

  <div>
    {{#link-to 'register'}}
      Need an account? Create one here.
    {{/link-to}}
  </div>
</div>
