<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <i class="fa fa-lg fa-user top-nav-user-icon"></i>
  UserName
</a>
<ul class="dropdown-menu" role="menu">
  <li><a href="#">{{fa-icon 'user'}} Profile</a></li>
  <li><a href="#">{{fa-icon 'sign-out'}} Logout</a></li>
</ul>
