<section class="sidebar">
  <ul class="sidebar-menu">
    {{nav-left-header title="MAIN NAVIGATION"}}

    {{nav-left-item
      title='Profile'
      icon='bank'
      linkPath='authenticated.organization'
    }}
  </ul>
</section>
