<section class="sidebar">

  <ul class="sidebar-menu">
    {{nav-left-header title="MAIN NAVIGATION"}}

    {{#nav-left-item
      title='Dashboard'
      icon='dashboard'
      hasChild=true
      linkPath='login'
    }}
      {{nav-left-item-sub-item icon='bicycle' title='First Item' linkPath='login'}}
      {{nav-left-item-sub-item icon='bus' title='Second Item' linkPath='login'}}
    {{/nav-left-item}}
  </ul>

</section>
