@import 'bootstrap';
@import '../../vendor/AdminLTE/css/AdminLTE';
@import '../../vendor/AdminLTE/css/skins/skin-blue';

html, body {
  height: 100% !important; // Overrides auto value
}

.top-nav-user-icon {
  margin: 3px 5px 0 0;
}

.layout-boxed {
  background: url('/assets/img/boxed-bg.jpg') repeat fixed;
}

.margin-bottom {
  margin-bottom: 10px;
}
