{{#page-header title='Reset Password'}}
  {{#page-header-breadcrumb-wrapper}}
    <li>
      {{#link-to 'authenticated'}}
        {{fa-icon 'home'}} Home
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'user-profile'}}
        User Profile
      {{/link-to}}
    </li>
    <li class="active">Reset Password</li>
  {{/page-header-breadcrumb-wrapper}}
{{/page-header}}

{{#page-content-wrapper}}
  {{form-password-reset currentUser=model}}
{{/page-content-wrapper}}
