{{#page-header title='Organizations'}}
  {{#page-header-breadcrumb-wrapper}}
    <li>
      {{#link-to 'authenticated'}}
        {{fa-icon 'home'}} Home
      {{/link-to}}
    </li>
    <li class="active">Organizations</li>
  {{/page-header-breadcrumb-wrapper}}
{{/page-header}}

{{#page-content-wrapper}}
  {{#content-box}}
    {{#content-box-body}}
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          {{form-input-text
            value=displaySearchQuery
            keyDownAction=(action 'search')
            placeholder='Search organizations...'
            feedbackIcon='search'
          }}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <ul class="list-group">
            {{#each model as |organization|}}
              {{list-item-organization organization=organization}}
            {{/each}}
          </ul>
        </div>
      </div>
    {{/content-box-body}}

    {{#content-box-footer}}
      {{pagination-buttons
        class='pull-right'
        goToNextPageAction=(action 'goToNextPage')
        goToPreviousPageAction=(action 'goToPreviousPage')
        goToPageAction=(action 'goToPage')
        currentPageNumber=currentPageNumber
        totalPageCount=totalPageCount
        hasNextPage=hasNextPage
        hasPreviousPage=hasPreviousPage
      }}
    {{/content-box-footer}}
  {{/content-box}}
{{/page-content-wrapper}}
