<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Base</b>App</a>
  </div>

  <div class="login-box-body">
    {{input-text value=email placeholder='Email' feedbackIcon='envelope'}}
    {{input-text value=password type='password' placeholder='Password' feedbackIcon='lock'}}
    {{#if showErrors}}
      <div class="help-block">
        <p class="text-danger">
          {{fa-icon 'ban'}}
          Either the email or password are incorrect.
        </p>
      </div>
    {{/if}}
    <div class="row">
      <div class="col-xs-4 col-xs-offset-8">
        {{button-action
          label="Login"
          onClickAction=(action 'login')
        }}
      </div>
    </div>
  </div>
</div>
